<div id="validator-badges">
  {{#if Rebecca.debug}}
    <div id="debugging-toggle" style="float: right; margin-right: 5px;">
      <img src="assets/images/icons/bug.png" alt="[Debug]" height="16" width="16" />
    </div>
  {{/if}}

  <div style="float: right; margin-right: 5px;">
    Generated with <a href="http://rubyworks.github.com/shomen">Shomen</a>
                   <a href="http://rdocodile.github.com/rebecca">Rebecca</a>
                   v{{Rebecca.version}}
    &nbsp;
    <a href="http://validator.w3.org/check/referer">
      <img src="assets/images/icons/check.png" alt="[Validate]" height="16" width="16" />
    </a>
  </div>
  <br/><br/> 
</div>

