<div id="documentation">
  {{> file_stats}}
  <h2>{{name}}</h2>
  <br/>
  {{#if uri}}
    <div class="scm-uri">
      <a target="_blank" href="{{uri}}">Click here to view source code via repository</a>.
    </div>
  {{/if}}
  {{#if source}}
  <pre>
  <code>
    {{source}}
  </code>
  </pre>
  {{/if}}
</div>

